body {
  background-color: #fd841f;
  font-family: "Poppins", sans-serif;
}

h1.title {
  padding-top: 25px;
  text-align: center;
  color: #3e6d9c;
}

div.imgdiv {
  padding-top: 10px;
  text-align: center;
}

div.buttondiv {
  padding-top: 10px;
  text-align: center;
}

button {
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: 25px;
  width: 200px;
}
